<h2>List of ratings</h2>

<p>To be completed...</p>

<ul>
    <% @ratings.each do |rating| %>
    <li><%= rating %></li>
    <% end %>
</ul>

<p>
Count of ratings: <%= @ratings.count%>
</p>

<%= link_to 'New Rating', ratings_new_path %><br>
<%= link_to 'List of beers to rate', beers_path %>