<p id="notice"><%= notice %></p>

<h1>Listing styles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Style</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.style, style_path(style) %></td>
        <td><%= style.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'List of beers', beers_path, class:"btn btn-primary" %>